.p-card {
    background-color: rgba(44, 44, 44, 0.9);
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    // display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: all 0.5s;
    flex-shrink: 0;
    display: none;

    &:hover {
        cursor: pointer;
        transform: translateY(-15px);
    }

    img {
        width: 50%;
    }
}