@use "../../assets/styles/breakpoints.scss" as b;

.contact {
  padding: 3rem 5rem 5rem;
  @include b.small {
    padding: 0;
  }

  @include b.medium {
    padding: 2rem 3rem 3rem;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }
  &-data {
    display: flex;
    height: 100%;

    @include b.small {
      flex-direction: column;
      justify-content: center;
    }

    &-info {
      flex: 1;

      &-item {
        padding: 1rem;
        display: flex;
        gap: 10px;
        text-decoration: none;
        color: #dedede;
        width: fit-content;

        &-title {
          font-weight: bold;
        }

        &-username {
          font-size: 14px;
        }
      }
    }
    &-form-container {
      flex: 1;
      // background: gray;
    }
  }
}

.contact-data-info-item:hover {
  cursor: pointer;
  &.linkedin {
    .fa-linkedin {
      color: #0e76a8;
    }
  }

  &.google {
    .fa-google {
      color: #ea4335;
    }
  }

  &.github {
    .fa-github {
      color: #ffffff;
    }
  }

  &.gitlab {
    .fa-gitlab {
      color: #fc6d26;
    }
  }
}
