.icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.computer {
    background-image: url('../../assets/icons/code-computer.svg');
}

.home {
    background-image: url('../../assets/icons/home.svg');
}

.folder {
    background-image: url('../../assets/icons/folder-bold.svg');
}

.at {
    background-image: url('../../assets/icons/mdi_at.svg');
}