
#home {
    //background-image: url('../img/forest.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1 {
        font-size: 50px;
        color: white;
    }

}

#home > div {
    padding: 50px;
}