
footer {
    background-color: #161616;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #161616;

    h3 {
        font-size: 1.92em;
        width: 100%;
        text-align: center;
    }

    .footer-right {
        width: 100%;
        padding: 1em;
        display: flex; 
        justify-content: space-evenly;
        .item {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            flex: 1;
            .info {
                margin: 0;
                animation: backOutDown;
                animation-duration: 600ms;
                visibility: hidden;
            }

        }

        .item:hover .info{
            visibility: visible !important;
            animation: bounceInUp;
            animation-duration: 600ms;
        }

    }
}


@media screen and (max-width:575px) {
    #footer {
        flex-direction: column;

        .footer-right {
            padding-left: 6em;
            padding-right: 2em;
            flex-direction: column;
            align-items: flex-start;

            h3 {
                font-size: 25px;
            }

            .item {
                flex-direction: row;
            }

            .item .info {
                visibility: visible;
                padding-left: 1em;
            }
        }
    }
}

@media screen and (max-width:320px) {
    #footer {
        .footer-right {
            padding-left: 2em;
            padding-right: 2em;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 25px;
            }

            .item {
                flex-direction: column;
            }

            .item .info {
                visibility: visible;
                padding: 0;
                padding-top: 1em;
            }
        }
    }
}