
footer {
    background-color: #161616;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #161616;

    .footer-left {
        width: 50%;
    }
    
    .footer-right {
        width: 30%;
        padding: 1em;

        h3 {
            font-size: 1.92em;
            width: 100%;
            text-align: left;
        }

        .item {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            color: white;
            p {
                margin: 0;
                padding: 0 0 0 1em;
            }
        }

        .item:hover {
            font-weight: bold;
        }

    }
}


@media screen and (max-width:863px) {
    #footer {
        flex-direction: column;

        .footer-right {
            width: 100%;
            padding-left: 2em;
            padding-right: 2em;

            h3 {
                font-size: 25px;
                width: 100%;
                text-align: center;
            }
        }
    }
}