
footer {
    background-color: #161616;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #161616;

    h3 {
        font-size: 1.92em;
        width: 100%;
        text-align: center;
    }

    .footer-right {
        width: 100%;
        padding: 1em;
        display: flex; 
        justify-content: space-evenly;
        .item {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            flex: 1;
            .info {
                margin: 0;
                animation: backOutDown;
                animation-duration: 600ms;
                visibility: hidden;
            }

        }

        .item:hover .info{
            visibility: visible !important;
            animation: bounceInUp;
            animation-duration: 600ms;
        }

    }
}


@media screen and (max-width:863px) {
    #footer {
        flex-direction: column;

        .footer-right {
            width: 100%;
            padding-left: 2em;
            padding-right: 2em;

            h3 {
                font-size: 25px;
                width: 100%;
                text-align: center;
            }
        }
    }
}