@use '../../assets/styles/breakpoints.scss' as b;

.skills {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;

  &-card {
    &-content {
      flex: auto;
      overflow: scroll;
      //hide scrollbar
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      } 

      h1 {
        margin-left: 1em;
      }

      
      &-data {
        display: flex;
        justify-content: space-evenly;

        @include b.small {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            text-align: center;
          }
        }
      }
    }

    &-dots {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: center;

      span {
        width: 4px;
        height: 25px;
        background: #bdbdbd;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
        }

        &.active {
          background: var(--accent-color, #fff);
        }
      }
    }
  }
}
