
section > h1 {
    font-size: 50px;
}

section {
    max-width: 100%;
    overflow-x: hidden;
}

.image-arrow {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    img {
        width: 30px;
    }
}

.flex-right {
    justify-content: flex-end;
}