@import "tailwindcss";

@theme static {
  --color-background: #202020;
  --color-primary: #3D365C;
  --color-secondary: #7C4585;
  --color-accent: #7C4585;
  --color-warn: #F8B55F;
}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    background-color: var(--color-background);
  }
  
  
  h1 {
    font-family: "Jersey 25", sans-serif;
  }

  #footer.extended > div {
    flex-direction: column;
  }
  #footer.extended > div p {
    display: block;
  }