@use '../../assets/styles/breakpoints.scss' as b;

.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    box-sizing: border-box;
    width: fit-content;

    @include b.mobile {
        flex-direction: row;
        padding: 0 1rem;
        height: auto;
        width: 100%;
        overflow-x: scroll;
    }

    &-item {
        gap: 10px;
        background-color: #CCCCCC;
        color: var(--primary-color-text, #000);
        text-decoration: none;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 8px 8px 0; 
        box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.75);
        
        &-icon {
            color: #4a5908;
        }
             
        @include b.mobile {
            border-radius: 0 0 8px 8px;
            padding: 12px 10px;
        }

        &-title {
            flex: auto;
            display: none;
            font-size: 18px;
            font-weight: normal;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            @include b.mobile {
                transform: none;
                writing-mode: initial;
            }
        }

        &.active {
            background-color: var(--accent-color, #454545);
            .menu-item-title {
                display: block;
            }

            .menu-item-icon {
                display: none;
            }
        }

        &:hover {
            cursor: pointer;
            color: var(--primary-color-text-hover, #454545);
        }
    }   
}